*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

:root{
    --black:#121212;
    --purple:#BB86FC;
    --white:#fff;
    --grey:#A7A7A7;
    --fosco:#1E1E1E;
    --purple-hover: #A56EF1;
}

body{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
}
main{
    background-color: var(--fosco);
    padding: 30px;
    border-radius: 16px;
    display:flex;
    flex-direction: column;
    gap: 30px;
    
    & header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;

        & img{
            width: 120px;
            height: 120px;
            border-radius: 100%;
            object-fit: cover;
            border: solid 3px var(--purple);

        }

        & .conteiner{

            & h1{
                color: var(--white);
                font-size: 28.8px;
                margin-bottom: 5px;
            }

            & p{
                color: var(--grey);
                font-size: 14.75px;
                text-align: center;
            }
        }
    }

    & section{
        display: flex;
        flex-direction: column;
        gap: 15px;

        & a{
            background-color: var(--purple);
            color: var(--white);
            border-radius: 8px;
            padding: 15px;
            text-align: center;
            transition: .3s linear;
        }

        & a:hover{
            background-color: var(--purple-hover);
        }
    }

    & footer{
        color: var(--grey);
        font-size: 11.8px;
        text-align: center;
    }
}